.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.name {
  display: block;
  width: 100%;
  height: 4vh;
  margin: 3vh 0;
  padding: 0.5rem;
  border: #22223b 1px solid;
  border-radius: 5px;
  background-color: #fdfbfa;
}

.review {
  display: block;
  width: 100%;
  height: 15vh;
  overflow-y: scroll;
  margin: 3vh 0;
  padding: 0.5rem;
  border: #22223b 1px solid;
  border-radius: 5px;
  background-color: #fdfbfa;
}

label {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.08rem;
  color: #22223b;
}

.ratingLabel {
  width: 100%;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 0;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #22223b;
}

.sliderContainer {
  display: flex;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

input[type="range"] {
  -webkit-appearance: none;
  border: #22223b 1px solid;
  border-radius: 5px;
  overflow: hidden;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #fdfbfa;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #4a4e69;
  border-radius: 50%;
  box-shadow: -210px 0 0 200px #9a8c98;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 0;
}

input[type="range"]::-moz-range-track {
  background-color: #fdfbfa;
}
input[type="range"]::-moz-range-progress {
  background-color: #9a8c98;
  height: 20px;
}
input[type="range"]::-ms-fill-upper {
  background-color: #fdfbfa;
}
input[type="range"]::-ms-fill-lower {
  background-color: #9a8c98;
}

output {
  padding: 0 1rem;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.08rem;
  color: #22223b;
}

.submitButton {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.7rem;
  color: #22223b;
  background-color: #fdfbfa;
  border: #22223b 1px solid;
  border-radius: 5px;
  transition: all 0.5s ease;
  width: 100%;
}

.submitButton:hover,
.submitButton:focus {
  color: #f8f2ef;
  background-color: #9a8c98;
  border: white 1px solid;
  cursor: pointer;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.formContainer .checkBoxes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  label {
    margin-right: 30px;
  }
}

.reviewsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-align: center;
    width: 80%;
    border-bottom: #9a8c98 2.2px solid;
    padding-bottom: 3%;
    margin-bottom: 2%;
    margin-top: 10%;
  }
  .singleReview {
    width: 80%;
    padding-bottom: 1%;
    padding-left: 2%;
    margin: 1%;
    background-color: #fdfbfa;
    border-radius: 8px;
    h3 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
