
footer{
    width: 80%;
    margin: 0 auto;
    margin-top: 25vh;
    .topSection{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        border-bottom: black 1px solid;
        ul{
            display: flex;
            align-content: space-between;
            justify-content: space-between;
            padding:0;
            li{
                padding: 20px;
            }
        }
        
    }
    .logoContainer2 {
        display:flex;
        justify-content: center;
        .footerLogo {
            width: 30%;
        }
    }
    .bottomSection{
        display: flex;
        flex-direction: column;;
        align-items: center;
        .icons{
            display: flex;
            padding:1.5vh 0 0 0;
            a{
                padding: 20px;
                color: black;
            }
            .icon:hover,
            .icon:focus {
                color: #9A8C98;
            }
        }
        p{
            a{
                color: black;
            }
        }
    }
}

