.wrapper {
    max-width: 2000px;
    margin: 0 auto;
}

.headerContainer {
    height: 80vh;
    position:relative;
}
.header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-image: url("../images/skincare-and-makeup-masterclass-16103432.jpg");
    background-size: cover; 
    background-position: center;
    content: "";
    background-repeat: no-repeat, repeat;
    h1{
        color: white;
        position: relative;
        z-index: 10;
    }
    p{
        color:white;
        position: relative;
        z-index: 10;
    }
    button {
        background-color: #9A8C9860;
        border: white 1px solid;
        color: white;
        font-size: 20px;
        padding: 10px 60px;
        border-radius: 5px;
        margin: 10px 0px;
        cursor: pointer;
        position: relative;
        z-index: 10;
    }
}
.overlay2 {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.23;
  }

.products {
    background-color: #e0d5d2;
    padding: 0 5% 5% 5%;
    width: 100%;
    h2 {
        width: 100%;
        text-align: center;
        padding: 5% 0;
        margin:0;
    }
}

.featuredSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 2%;
    padding:0;
}

.productItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 2%;
    height: 100%;
    background-color: #ffffff;
    img {
        width: 90%;
    }
    
    .textContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 27vh;
        width: 17vw;
        button{
            width: 60%;
        }
        h3{
            text-align: left;
            width: 100%;
            margin-bottom: 0;
            margin-top: 15%;
        }
        p{
            text-align: left;
            width: 100%;
            margin-top: 0;
        }
    }
}

.feature {
    display: flex;
    justify-content: center;
    align-content: center;
}

.containerHeader  {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    h2 {
        width: 100%;
        text-align: center;
    }
}
.featureContentContainer {
    height: auto;
    width: 100%;
}
.featureContentImages {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.5%;
    row-gap: 3.2%;
    padding: 8vh 0;
      img {
        width: 97%;
        height: 100%;
        object-fit: cover;
    }
  }

.philosophy {
        height: 100%;
        width: 100%;
        padding: 0 10%;
        display: flex;
        justify-content: center;
        align-content: space-around;
        h2 {
            text-align: center;
            font-weight: 500;
            font-size: 5rem;
        }
}

.ready {
    margin-top: 100px;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    h3 {
        font-size: 4.5rem;
        font-family: 'Cormorant', serif;
        color: white;
        text-align: center;
    }
    p {
        width: 100%;
        text-align: center;
        font-family: 'Hind Siliguri', sans-serif;
        font-weight: 400;
        font-size: 3rem;
        letter-spacing: 0.08rem;
        color: white;
    }
    button {
        background-color: #9A8C9860;
        border: white 1px solid;
        color: white;
        font-size: 20px;
        padding: 10px 60px;
        border-radius: 5px;
        margin: 10px 0px;
        cursor: pointer;
    }
}

.ready::before {
    display: block;
    position: absolute;
    background-image: url("../images/LastSectionImg1.jpg");
    background-size: cover; 
    background-position: center;
    content: "";
    background-repeat: no-repeat, repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    opacity: 0.95;
}

// There was a time I was in charge of setting up a meeting with the executives and I had made a scheduling mistake. I immediately awknowledged it and worked to resolve it with everyone right away by apologizing and rescheduling ASAP. I always understand mistakes happen, it just matters how you resolve it, I think it's important to awknowledge it and work to resolve it ASAP.
