
h1{
    display: flex;
    justify-content: center;
}
.topBar{
    display: flex;
    .left{
        position: absolute;
        display: flex;
        left: 0;
        top: 70px;
        width: 25%;
        justify-content: space-around;
        li:focus{
            border: red 1px solid;
        }
    }
    .right{
        position: absolute;
        right: 0;
        top: 70px;
        width: 15%;
        input{
            border-radius: 20px;
            position: absolute;
            left:0;
            transition: width 1s ease;
            cursor: pointer;
            width: 60px;
            height: 40px;
            width: 100px;
            border: none;
        }
        svg{
            position: absolute;
            left: 10px;
            z-index: 10;
            font-size: 40px;
        }
    }
}
.error{
    display: flex;
    justify-content: center;
}

