@media(max-width: 480px){
    // General
    h1{
        font-size: 3rem;
    }

    h3{
        font-size: 1.2rem;
    }

    p, 
    a,
    button{
        font-size: 0.8rem;
        letter-spacing: 0.08rem;
    }

    // Top Nav Bar
    header {
        margin-bottom: 8vh;
    }
    .logo {
        width: 25%;
    }

    ul{
        margin-right: 2px;
        padding-left: 20px;
    }

    .topBar{
        flex-direction: column;
        .left{
            top: 20px;
            flex-direction: column;
            
            li {
            padding-top: 10px;
                a{
                font-size: 1rem;
                }
            }
        }
        .right{
            top: 50px;
            svg{
                right: 150px;
                left: 0;
            }
            input{
                max-height: 20px;
                max-width: 100px;
            }
        }   
    }


    //Home Page
    .products {
        height: 350vh;

    }
    .featuredSection {
        grid-template-columns: 1fr;
    }

    .productItems {
        img {
            width: 70%;
            margin-left: 9vw;
        }
        .textContainer {
            height: 30vh;
            width: 100%;
        }
    }

    .containerHeader {
        margin-top: 10vh;
    }

    .featureContentImages {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .pic1, .pic2, .pic3 {
        display: none;
    }

    .philosophy{
        h2{
            font-size: 3rem;
        }
    }

    //searchedProducts
    .productSection {
        grid-template-columns: repeat(1, 1fr);
    }


    //Footer
    footer{
        .topSection li a{
            font-size: 0.9rem;
        }
        .topSection {
            ul {
                flex-direction: column;
            }
        }
        p{
            text-align: center;
        }
        .logoContainer2 {
            .footerLogo {
                display: none;
             }
        }

    }

}

@media (max-width: 700px) {
    // Homepage
    .ready {
        p{
            font-size: 2rem;
        }
    }
}

@media (max-width: 350px) {
    // Homepage
    .ready {
        h3{
            font-size: 3.5rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
}


