
.pageNumbers{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    a{
        padding-left: 5px;
        color: black;
    }
}

.sorting{
    background-color: #9A8C98;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
}