.sectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5%;
}

.productSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1%;
    row-gap: 0.2%;
    padding:0;
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 2%;
    height: 100%;
    transition: background-color 1s ease;
    img {
        width: 90%;
    }
    h3{
        text-align: left;
        transition: color 0.5s ease;
        width: 100%;
        margin-bottom: 0;
        margin-top: 15%;
    }
    p{
        text-align: left;
        width: 100%;
        margin-top: 0;
        transition: color 0.5s ease;
    }
}

.productCard:hover,
.productCard:focus {
    background-color:#9A8C98 ;
    h3{
        color: #f8f2ef;
    }
    p{
        color: #f8f2ef;
    }
    p{
        text-align: left;
        width: 100%;
        margin-top: 0;
        transition: color 0.5s ease;
    }
}

.productCard:hover,
.productCard:focus {
    background-color:#9A8C98 ;
    h3{
        color: #f8f2ef;
    }
    p{
        color: #f8f2ef;
    }
}
