@media (max-width: 940px){
    //mainNav component
    .topBar{
        .left{
            width: 40%;
        }
        .right{
            right: 70px;
            input{
                align-self: flex-start;
                max-width: 140px;
            }
            svg{
                font-size: 20px;
                right: 150px;
                left: 0;
            }
        }
    }

    //homePage
    .header {
        padding: 0 8%;
    }

    .featuredSection {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2%;
    }

    .productItems {
        .textContainer {
            width: 28vw;
            height: 30vh;
        }
    }

    //searchedProducts
    .productSection {
        grid-template-columns: repeat(3, 1fr);
    }

    // Single Product Page
    .productInfoContainer {
         grid-template-columns: 100%;
    }

    .column2 {
        padding: 5% 6%;
    }

    .reviewsSection {
        padding:0;
    }

    //footer
    .topSection li{
        font-size: 1rem;
    }

    footer {
        .logoContainer2 {
            .footerLogo {
                width: 70%;
             }
        }
    }
    
    
}
