.formContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display:flex;
    flex-direction: column;
    width: 60%;
}

.name {
    display: block;
    width: 100%;
    height: 4vh;
    margin: 3vh 0; 
    padding: 0.5rem;
    border: #22223B 1px solid;
    border-radius: 5px;
    background-color:#fdfbfa ;
}

.review {
    display: block;
    width: 100%;
    height: 15vh;
    overflow-y: scroll;
    margin: 3vh 0; 
    padding: 0.5rem;
    border: #22223B 1px solid;
    border-radius: 5px;
    background-color:#fdfbfa ;
}

.submitButton {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0.7rem;
    color: #22223B;
    background-color:#fdfbfa ;
    border: #22223B 1px solid;
    border-radius: 5px;
    transition: all 0.5s ease;
    width: 100%;
}

.submitButton:hover{
    color: #f8f2ef;
    background-color:#9A8C98 ;
    border: white 1px solid;
    cursor:pointer;
}

.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
