html {
    font-size: 16px;
}

h1 {
    font-family: 'Cormorant', serif;
    font-weight: 500;
    font-size: 4rem;
}

h2{
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 3rem;
}

h3{
    font-family: 'Cormorant', serif;
    font-weight: 300;
    font-size: 2rem;
}

p{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

button {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
