
h1{
    display: flex;
    justify-content: center;
}
.topBar{
    display: flex;
    .left{
        position: absolute;
        display: flex;
        left: 0;
        top: 70px;
        width: 25%;
        justify-content: space-around;
    }
    .right{
        position: absolute;
        right: 0;
        top: 70px;
        width: 15%;
        input{
            border-radius: 10px;
            position: absolute;
            left:0;
            transition: width 1s ease;
            border: black solid 1px;
            cursor: pointer;
            width: 20px;
        }
        svg{
            position: absolute;
            top:4px;
            left: 2px;
            z-index: 10;
        }
        

    }
}

