@import './styling/normalize';
@import './styling/homePage';
@import './styling/generalStyles';
@import './styling/catalogueProductsStyles';
@import './styling/sectionPageStyles';
@import './styling/searchPage';
@import './styling/mainNav';
@import './styling/footer';
@import './styling/productPageStyles';
@import './styling/customerReviewStyles';
@import './styling/tablet';

.logoContainer {
    display:flex;
    justify-content: center;

}
.logo {
    display:inline;
    width: 13%;
}

