@import './normalize';
@import './generalStyles';
@import './catalogueProductsStyles';
@import './sectionPageStyles';
@import './searchPage';
@import './mainNav';
@import './footer';
@import './productPageStyles';
@import './customerReviewStyles';

.logoContainer {
    display:flex;
    justify-content: center;

}
.logo {
    display:inline;
    width: 13%;
}

